<!-- app/views/sessions/login.html.erb -->

<section class="modal" style="width: 350px">
  <div class="flex rounded-2x1">
    <div style="display: flex; align-items: center; justify-content: center; font-size: 24px;">
      <h1>Login</h1>
    </div>

    <%= form_with(url: login_path, method: :post, html: { class: 'max-w-md bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-auto' }) do |form| %>
      <% if flash[:alert] %>
        <p class="bg-red-100 text-red-700 rounded p-2 mb-4"><%= flash[:alert] %></p>
      <% end %>

      <div class="form-group">
        <div style="display: flex">
          <%= form.label :email %>
        </div>
        <div style="display: flex; width: 100%">
          <%= form.email_field :email, class: 'form-control', style:"width: 100%" %>
        </div>
      </div>

      <div class="form-group">
        <div style="display: flex">
          <%= form.label :senha %>
        </div>
        <div style="display: flex; width: 100%">
          <%= form.password_field :password, class: 'form-control', style:"width: 100%" %>
        </div>
      </div>

      <div style="align-content: center; margin-top: 5px; padding: 4px; color: white ;background-color: rgb(65 65 74 / 27%); justify-content: center; align-items: center; border-radius: 4px; border: none; font-size: 15px">
        <div style="width: 100% position: relative; left: 6rem !important">
          <%= link_to 'Registrar', signup_path, data: { turbo_frame: :remote_modal } %>
        </div>

      </div>

      <div style=" ; margin-top: 5px; padding: 4px; color: white ;background-color: #1530ff; justify-content: flex-end ; align-items: center; border-radius: 4px; border: none; font-size: 15px">
        <%= form.submit 'Login' %>
      </div>
    <% end %>
  </div>

</section>

